* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: gray;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

nav {
    float: left;
    width: 30%;
    height: 300px;
    background: #ccc;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

@media (max-width: 600px) {
    nav,
    article {
        width: 100%;
        height: auto;
    }
}

.Left {
    background-color: teal;
    padding: 20px;
    float: left;
    width: 20%;
}

.Right {
    background-color: thistle;
    padding: 20px;
    float: left;
    width: 20%;
}

.main {
    background-color: rgb(61, 78, 25);
    padding: 20px;
    float: left;
    width: 60%;
}

@media screen and (max-width:800px) {
    .Left,
    .main,
    .Right {
        width: 100%;
    }
}